body {
    width: 90%;
    margin:auto;
   
}

#title {
    text-align:center;
    font-family: 'Times New Roman', Times, serif;
    font-size: 60px;
}

.calcFrame{
    border: 2px solid #000;
    background-color: #ececec;
    margin-left:25%;
    width:50%;
    height: 705px;
    border-radius: 5%
}

.display{
    background-color: #d1e0e0;
	width: 90%;
	height: 100px;
    margin:4% 5%;
	border-radius: 20px;
	font-size: 90px;
	color: #000000;
	text-align: right;
}

.request-btns{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.request-btns button {
    height: 70px;
    margin: 15px;
    font-size: 70px;
    background-color: #385170;
    color:#fff;
    
}

#parenthesis {
    font-size:58px;
}

#negative {
    font-size: 58px;
}

#divide {
    width: 10%;
}

#subtract{
    width:10%;
}

#decimal{
    width:10%
}

#enter{
    width: 50%;
}