body {
    width: 90%;
    background: linear-gradient(to right, #00AAFF, #00ff6C)
}

#title {
    text-align: center;
    color: #ffff;
    font-size:60px
}

.frame {
    width: 28%;
    margin: auto;

}

#display-screen {
    color: black;
    width: 295px;
    height:100px;
    font-size: 40px;
    text-align: right;
  margin-left: 38px;
  
}
  
.calc-btns {
 display: grid;
 justify-content: center;
 align-content: center;
 align-content: center;
 min-height: 100vh;
 grid-template-columns: repeat(4, 75px);
 grid-template-rows: minmax(75px, auto) repeat(5, 75px);
 
}

.calc-btns > button {
    cursor: pointer;
    font-size: 2rem;
    border: 1px solid #ffff;
    outline: none;
    background-color: rgba(255,255,255,.75)
}

.calc-btns > button:hover {
    background-color: rgba(255,255,255,.9)
}
