body {
    width: 90%;
    margin:auto; 
}

* {
    box-sizing:border-box;
}

#title {
    text-align: center;
}

.frame {
    width: 28%;
    height: 60%;
    margin: auto;
    border: 8px solid red;
    background-color: black;
}

.display-screen {
   background-color: white;
   height: 100px;
}


#enter {
    grid-column: span 2;
}
    
.calc-btns {
 display: grid;
 justify-content: center;
 align-content: center;
 min-height: 100vh;
 grid-template-columns: repeat(4, 75px);
 grid-template-rows: minmax(75px, auto) repeat(5, 75px);
}

